//
// Common styling for inputs
//

.ui.input.error input {
  border: 1px solid $danger !important;

  &:focus,
  &:active,
  &:hover {
    border-color: $danger !important;
  }
}

.ui.input input,
.ui.selection.dropdown,
.ui.form textarea {
  width: 100% !important;
  border-radius: 10px !important;
  padding: 16px 24px !important;
  // background-color: $background-dark !important;
  border: 1px solid $grey-lighter !important;

  &:focus,
  &:active,
  &:hover {
    border-color: rgba(
      red($accentDark),
      green($accentDark),
      blue($accentDark),
      0.5
    ) !important;
  }
}

.error-message {
  height: 1rem !important;
  color: $danger;
  transform: translateY(-16px);

  &::after {
    content: '\00a0\00a0';
  }
}

.field {
  margin-bottom: 8px;
}

.ui.icon.input {
  color: $accent;
}
