@import '../../assets/styles/variables';

.header {
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  h1,
  p {
    // background-color: $primary;
    background-color: rgba(red($primary), green($primary), blue($primary), 0.9);
    display: inline-block;
    padding: 16px 32px;
  }

  h1 {
    margin-bottom: 8px;
  }
}
