@import '../../assets/styles/variables';

.header {
  position: relative;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  &.home {
    height: 400px;

    @media screen and (min-width: $md) {
      height: 600px;
    }

    @media screen and (min-width: $xl) {
      height: 820px;
    }
  }
}
