.header {
  position: relative;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  &.home {
    height: 400px;

    .content {
      background-color: rgba(
        red($primary),
        green($primary),
        blue($primary),
        0.2
      );
      backdrop-filter: blur(10px);
      padding: 24px 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100% !important;

      h1 {
        margin-bottom: 16px;
      }

      h1,
      p {
        color: #fff;
      }
    }

    @media screen and (min-width: $md) {
      height: 600px;

      .content {
        padding: 32px 0;
      }
    }

    @media screen and (min-width: $xl) {
      height: 820px;

      .content {
        padding: 32px 0;
      }
    }
  }

  &.seller {
    h1,
    p {
      background: rgba(red($primary), green($primary), blue($primary), 0.9);
      padding: 8px 16px;
      display: inline-block;
      margin-bottom: 8px;
    }
  }
}
