.mobile-menu {
  position: fixed;
  height: calc(100vh - #{$navbarHeight});
  width: 100%;
  background: $background !important;
  opacity: 98%;
  backdrop-filter: blur(5px);
  transition: 0.2s;
  overflow-y: auto;
  z-index: $navZIndex;

  @media screen and (min-width: $md) {
    display: none;
  }

  .nav-link {
    padding: 0;
    margin-bottom: 24px;
  }

  ul {
    list-style-type: none;
    text-align: left;
    white-space: nowrap;
    padding-left: 0;

    li {
      margin-bottom: 16px;

      a {
        display: block;
        color: $grey !important;

        &:hover {
          text-decoration: underline;
          color: $primary !important;
        }
      }

      h4 {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0;
      }

      &:hover {
        cursor: pointer;

        svg {
          color: $accent;
        }
      }

      svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
  }
}
