//
// General
//

// html {
//   overflow: hidden;
// }

main {
  // height: calc(100vh - #{$navbarHeight});
  // overflow-y: auto;
  z-index: 1;
}

::selection {
  background-color: $accent;
  color: #fff;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.pt-6 {
  padding-top: 64px;
}

.logo {
  height: 56px !important;
}

.logo-full {
  height: 56px !important;
}

//
// Sections
//
section {
  padding-top: $sectionMobile;
  padding-bottom: $sectionMobile;

  @include media-breakpoint-up(md) {
    padding-top: $sectionTablet;
    padding-bottom: $sectionTablet;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $sectionDesktop;
    padding-bottom: $sectionDesktop;
  }
}

//
// links
//
a {
  color: $accent;
  &:hover {
    text-decoration: underline;
    // color: scale($accent, $lightness: -25%);
    color: $accentDark;
  }
}

//
// Navbar
//
nav {
  min-height: $navbarHeight !important;
}

.pt-navbar {
  padding-top: $spacingSm;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

//
// Forms
//
form {
  .form-control {
    padding: 24px 24px;
    border-radius: 100px;
    border: 0px;
    background: $background-dark;
  }
}

// Product
.product-image {
  width: 100%;
  object-fit: cover;
}

// Ratings
.ui.rating .active.icon {
  color: $accent !important;
  border: none;
}
