//
// General
//

// html {
//   overflow: hidden;
// }

main {
  // height: calc(100vh - #{$navbarHeight});
  // overflow-y: auto;
  z-index: 1;
}

::selection {
  background: $primaryLight;
  color: #fff;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.pt-6 {
  padding-top: 64px;
}

.logo {
  height: 56px !important;
}

.logo-full {
  height: 56px !important;
}

//
// Sections
//
section {
  margin-bottom: 100px;
}

//
// links
//
a {
  color: $primary;
  &:hover {
    text-decoration: underline;
    color: $primaryDark;
  }
}

//
// Buttons
//
button {
  border-radius: 100px;
  padding: 12px 32px;
  min-width: 180px;

  svg {
    margin-left: 8px;
    width: 24px;
    height: 24px;
  }

  &:focus {
    outline: none;
  }

  &.primary {
    background-color: $primary;
    color: #fff;
    border: 2px solid $primary;

    &:hover {
      background-color: darken($primary, 5%);
    }

    &:focus,
    &:active {
      background-color: darken($primary, 10%);
      border: 2px solid $primaryLight;
    }
  }

  &.secondary {
    background-color: #fff;
    border: 2px solid $primary;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: #fff;
    }

    &:focus,
    &:active {
      background-color: darken($primary, 10%);
      border: 2px solid $primaryLight;
      color: #fff;
    }
  }

  &.sm {
    padding: 8px 24px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.lg {
    padding: 14px 34px;
  }

  &.xl {
    padding: 16px 40px;
    font-size: 1.25rem;
    line-height: 1.5;

    svg {
      width: 28px;
      height: 28px;
    }
  }
}

//
// Navbar
//
nav {
  min-height: $navbarHeight !important;
}

.pt-navbar {
  padding-top: $spacingSm;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

//
// Forms / Inputs
//
form {
  .form-control {
    padding: 24px 24px;
    border-radius: 100px;
    border: 0px;
    background: $background-dark;
  }
}

.ui.input input,
.ui.selection.dropdown {
  width: 100% !important;
  border-radius: 10px;
  padding: 16px 24px;
  background-color: $background-dark !important;
  border: 2px solid $background-dark;
  margin-bottom: $spacingXs;

  &:focus,
  &:active,
  &:hover {
    border: 2px solid rgba(red($primary), green($primary), blue($primary), 0.5) !important;
  }
}

// Input
.ui.input {
  width: 100%;

  &.icon {
    i.icon {
      top: 0;
      right: 16px;
      height: 24px;
      width: 24px;
      transform: translateY(65%);
    }
  }
}

// Select
.ui.selection.dropdown {
  .dropdown.icon {
    padding: 16px 24px;
  }

  .menu {
    border: 2px solid rgba(red($primary), green($primary), blue($primary), 0.5) !important;
    border-top-width: 0 !important;
    width: -webkit-fill-available;
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 0 0 10px 10px;
  }

  .item {
    &:hover {
      background: rgba(
        red($background-dark),
        green($background-dark),
        blue($background-dark),
        0.2
      );
    }
  }

  .selected.item {
    background: rgba(
      red($background-dark),
      green($background-dark),
      blue($background-dark),
      0.6
    );
  }

  &.upward.active {
    border: 2px solid rgba(red($primary), green($primary), blue($primary), 0.5) !important;
    border-radius: 0 0 10px 10px !important;

    .menu {
      border-radius: 10px 10px 0 0;
    }
  }
}

.ui.selection.active.dropdown {
  border: 2px solid rgba(red($primary), green($primary), blue($primary), 0.5) !important;
}

//
// Home Header
//
.home-hero {
  background-color: rgba(red($primary), green($primary), blue($primary), 0.9);
  padding: 24px 0;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 30px);

  h1 {
    margin-bottom: 16px;
  }
}

// Product
.product-image {
  width: 100%;
  object-fit: cover;
}

// Ratings
.rating {
  .ui.rating .active.icon {
    color: $primary !important;
    border: none;
  }
}
