/* ------------------------------------------------------ */
/*            BOOTSTRAP VARIABLES OVERRIDES               */
/* ------------------------------------------------------ */

//
// Color system
//
$background: #fff;
$background-dark: #fafafa;
$accent: #5015cf;
$accentDark: darken($accent, 10%);
$primary: $accentDark;
$primaryLight: lighten($accent, 20%);
$primaryDark: darken($accent, 30%);
$primaryDarker: darken($accent, 35%);

$grey-lighter: #e2e2e2;
$grey-light: #a9a9a9;
$grey: #383838;
$grey-dark: #17191d;
$success: #27ae60;
$warning: #f2c94c;
$danger: #eb5757;
$info: #56ccf2;

$theme-colors: (
  'primary-light': $primaryLight,
  'primary-dark': $primaryDark,
  'primary-darker': $primaryDarker,
  'background': $background,
  'background-dark': $background-dark,
  'accent': $accent,
  'accent-dark': $accentDark,
  'grey-lighter': $grey-lighter,
  'grey-light': $grey-light,
  'grey': $grey,
  'grey-dark': $grey-dark
);

//
// Fonts
//
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-large: 1.125rem;
$font-size-xlarge: 1.3rem;
$fwLight: 300;
$fwNormal: 400;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;

//
// Headings
//
$h1-font-size: 48px;
$h1-tablet-font-size: 42px;
$h1-mobile-font-size: 40px;
$h2-font-size: 32px;
$h2-mobile-font-size: 32px;
$h3-font-size: 28px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 12px;

//
// Buttons
//
$btn-padding-x: 2rem;
$btn-padding-x-sm: 2rem;
$btn-padding-x-lg: 2rem;

//
// Containers
//
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$container-max-widths: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
) !default;

/* ------------------------------------------------------ */
/*                    CUSTOM VARIABLES                    */
/* ------------------------------------------------------ */

//
// Menus
//
$navbarHeight: 90px;
$sideMenuDefaultWidth: 80px;
$sideMenuOpenWidth: 300px;

//
// Z-Indexes
//

$navZIndex: 800;
$sideNavZIndex: 801;

//
// Spacing
//
$spacingXs: 32px;
$spacingSm: 42px;
$spacingMd: 64px;
$spacingLg: 100px;
$spacingXl: 165px;

$sectionDesktop: 80px;
$sectionTablet: 70px;
$sectionMobile: 50px;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25 // 4px
  ),
  2: (
    $spacer * 0.5 // 8px
  ),
  3: $spacer,
  // 16px
    4:
    (
      $spacer * 1.5 // 24px
    ),
  5: (
    $spacer * 3 // 48px
  ),
  6: (
    $spacer * 4 // 64px
  ),
  7: (
    $spacer * 5 // 80px
  ),
  8: (
    $spacer * 6.25 // 100px
  ),
  9: (
    $spacer * 7.5 // 120px
  ),
  10: (
    $spacer * 9.375 // 150px
  )
) !default;

:export {
  color_primary: $primary;
  color_primaryLight: $primaryLight;
  color_primaryDark: $primaryDark;
  color_primaryDarker: $primaryDarker;
  color_background: $background;
  color_backgroundDark: $background-dark;
  color_greyLight: $grey-light;
  color_grey: $grey;
  color_greyDark: $grey-dark;
  color_success: $success;
  color_warning: $warning;
  color_danger: $danger;
  color_info: $info;
}
