@import '../../../assets/styles/variables';

.sidenav {
  height: 100%;
  width: $sideMenuDefaultWidth;
  position: fixed;
  z-index: $sideNavZIndex;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 20px;

  @media screen and (max-width: $md) {
    width: 0;
  }

  svg {
    width: 32px;
    height: 32px;
    color: #fff;
  }

  .control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 40%;

    :hover {
      cursor: pointer;
    }
  }

  ul {
    position: absolute;
    bottom: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;

    li {
      padding: 8px 24px 8px 24px;

      &:hover {
        background: rgba(255, 255, 255, 0.03);
      }

      h4 {
        margin: 0;
        color: #fff;

        span {
          display: none;
        }
      }

      :hover {
        cursor: pointer;
      }
    }
  }

  &.open {
    width: $sideMenuOpenWidth;

    ul {
      text-align: left;
      white-space: nowrap;

      li {
        h4 {
          span {
            display: inline-block;
            margin-left: 16px;
          }
        }

        a {
          display: block;
          color: #fff;
        }
      }
    }
  }
}

main {
  margin-left: 0;
  transition: 0.2s;

  @media screen and (min-width: $md) {
    margin-left: $sideMenuDefaultWidth;
  }
  @media screen and (max-width: $md) {
    padding-left: 0;
  }
}
